.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header {
    background-color: #222;
    color: white;
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.mainContent {
    height: calc(100% - 55px);
    width: 100%;
}

.footer {
    background-color: #222;
    color: white;
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.button {
    margin: 15px;
    background-color: #1e1e1e;
    color: white;
    border: solid 1px white;
    cursor: pointer;
}

.runSection {
    background-color: #1e1e1e;
    color: white;
    height: calc(100% - 55px);
}

.runSectionResult {
    margin-left: 30px;
    overflow-y: auto;
    height: calc(100% - 55px);
}

.header a, .header a:visited, .footer a, .footer a:visited {
    color: white !important;
}

.code {
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    white-space: pre;
}

.number {
    color: #b5cea8;
}

.string {
    color: #ce9178;
}

.keyword {
    color: #569cd6;
}

.comma {
    color: #777;
}

.classNameIdent {
    color: #3dc9b0;
}

.logSeparator {
    color: #777;
    width: 100%;
    border-bottom-style: dotted;
    border-bottom-width: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Pane {
    overflow: auto;
}