name: Deploy docs to Github Pages
on:
  workflow_dispatch:
  release:
    branches:
      - dev
jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - run: npm i --force
      - run: tsc
      - run: npm run docs
      - run: touch ./docs/.nojekyll
      - run: |
          cd ./playground
          npm i --force
          npx next build
          npx next export -o ../docs/playground
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: .
